<app-header></app-header>

<div id="rev-slider" class="rev-slider">

  <!-- START REVOLUTION SLIDER -->
  <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="slider-shop"
    data-source="gallery" style="background:rgba(255,255,255,0);padding:0px;">
    <div id="rev_slider_1_5" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
      <ul>
        <!-- SLIDE  -->
        <li data-index="rs-3" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0"
          data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="2000"
          data-thumb="assets/100x50_44515-slider-bg-3.jpg" data-rotate="0" data-saveperformance="off"
          data-title="Slide 3" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5=""
          data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="../../assets/_images/Background/tree.png" data-bgposition="center center" data-kenburns="on"
            data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
            data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10"
            data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" alt="slider-image" data-no-retina>
          <div class="slider-overlay"></div>
          <!-- LAYERS -->



          <!-- LAYER NR. 12 -->
          <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-3-layer-2"
            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
            data-fontsize="['100','100','80','60']" data-width="none" data-height="none" data-whitespace="nowrap"
            data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 6; white-space: nowrap; font-size: 100px; line-height: 16px; font-weight: 700; color: #ffffff; letter-spacing: 0;font-family: 'Nordic Alternative';-webkit-text-stroke: 1px rgb(255, 255, 255);">
            YGGDRASIL LIFE CARE.</div>

          <!-- LAYER NR. 13 -->
          <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-3-layer-3"
            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['100','100','100','100']"
            data-fontsize="['20','20','18','18']" data-width="800" data-height="none" data-whitespace="normal"
            data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 30px;letter-spacing:1px;text-align: center; font-weight: 300; color: #eaeaef; font-family: 'Roboto', sans-serif;">
            Lorem ipsum dolor sit amet, conse ctetur adipiscing nu elit sed do eiusmod tem, conse ctetur
            adipiscing nu elit sed do eiusmod tem..</div>


        </li>

      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
  <!-- END REVOLUTION SLIDER -->

</div>

<section id="registration">
  <div class="container mb-5">
    <div class="row dot-box">

      <div class="col-12 col-md-8 offset-md-2 text-center">
        <div class="about-heading heading-details">
          <h4 class="heading">Registrate Data</h4>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 contact-form-box">
        <form class="contact-form" id="contact-form-data">
          <div class="row">
            <div class="col-sm-12" id="result"></div>
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="First Name:" required="" id="first_name"
                  name="firstName">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Last Name:" required="" id="last_name"
                  name="lastName">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="email" placeholder="Email:" required="" id="email" name="userEmail">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="tel" placeholder="Phone:" id="phone" name="userPhone">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" placeholder="Message" id="message" name="userMessage"></textarea>
              </div>
            </div>
            <div class="col-12">
              <button type="button" class="btn btn-large yellow-and-white-slider-btn mt-4 contact_btn"
                id="submit_btn"><i class="fa fa-spinner fa-spin mr-2 d-none" aria-hidden="true"></i>
                <b>Send Data</b></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="single-items center-block testimonial-sec parallax" id="reviews"
  style="background: rgba(0, 0, 0, 0) url(&quot;../../assets/_images/Background/viking-mountains.jpg&quot;) no-repeat fixed center 3.06px / cover;">
  <div class="bg-overlay bg-black opacity-6"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2 text-center test-box">
        <div class="review-box">
          <div class="row no-gutters slick-test slick-initialized slick-slider slick-vertical">
            <div class="slick-list draggable" style="height: 386.6px;">

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact-sec">
  <div class="container">
    <!--Heading-->
    <div class="row">
      <div class="col-12 col-md-9 offset-md-2 text-center">
        <div class="about-heading heading-details">
          <h4 class="heading">LET'S GET IN TOUCH</h4>
        </div>
      </div>
    </div>

    <!--contact us-->

    <div class="row">
      <div class="col-12 col-lg-6 contact-details text-center text-lg-left">
        <div class="location-details">
          <h4 class="contact-heading">Yggdrasil <strong>Life Care</strong></h4>
          <p class="contact-address">123 Stree New York City , United States Of America.</p>
          <ul class="contact-list">
            <li><span>Office Telephone :</span> +55 (11) 9999-9999</li>
            <li><span>Mobile :</span> +55 (11) 9.9999-9999</li>
            <li><span>Email :</span> contact@yggdrasillifecare.com</li>
          </ul>
          <ul class="slider-social contact-s-media">
            <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i
                  class="lab la-facebook-f"></i> </a> </li>
            <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i
                  class="lab la-twitter"></i> </a> </li>
            <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i
                  class="lab la-google-plus-g"></i> </a> </li>
            <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i
                  class="lab la-linkedin-in"></i> </a> </li>
            <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i
                  class="lab la-instagram"></i> </a> </li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-lg-6 contact-form-box">
        <form class="contact-form" id="contact-form-data">
          <div class="row">
            <div class="col-sm-12" id="result"></div>
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="First Name:" required="" id="first_name"
                  name="firstName">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Last Name:" required="" id="last_name"
                  name="lastName">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="email" placeholder="Email:" required="" id="email" name="userEmail">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="tel" placeholder="Phone:" id="phone" name="userPhone">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" placeholder="Message" id="message" name="userMessage"></textarea>
              </div>
            </div>
            <div class="col-12">
              <button type="button" class="btn btn-large yellow-and-white-slider-btn mt-4 contact_btn"
                id="submit_btn"><i class="fa fa-spinner fa-spin mr-2 d-none" aria-hidden="true"></i>
                <b>Contact Now</b></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
